
@{
    ViewData["Title"] = "AddNewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Add a new profile.</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> User</a></li>
        <li class="active">Add</li>
    </ol>
</section>

