
<div class="modal fade">
        <div class="modal-dialog" style="width:640px;">
            <div class="modal-content">
                <div class="modal-header btn-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title"><b>Reset Profile @ViewBag.ProfileName </b></h3>
                    
                </div>
                <div class="modal-body">
                    <h3>Do you want to reset all RESOURCE LIMIT to DEFAULT for this profile ?</h3>

                </div>
            </div>
        </div>
    </div>
