@model IEnumerable<BK.UserManagement.Web.Models.UserModel>

<div class="modal fade">
        <div class="modal-dialog" style="width:460px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"><b>List of users has profile @ViewBag.ProfileName </b></h4>
                    <h5>(Click on username to Edit)</h5>
                </div>
                <div class="modal-body">
                    <table id="tbl_user" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th>User Name</th>
                                @*<th>Default Tablespace</th>
                                <th>Temporary Tablespace</th>
                                <th>Profile</th>
                                <th>Account Status</th>
                                <th>Features</th>*@

                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(u.USERNAME,"Edit","User",new {id = u.USERNAME })</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                @*<th>ID</th>*@
                                <th>User Name</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
