@using BK.UserManagement.Web.Models
@model DbUser
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<div>
    <label>User Id</label> @Model.USER_ID
</div>

<div>
    <label>User Name</label> @Model.USERNAME
</div>
