@using BK.UserManagement.Web.Models
@model IEnumerable<DbUser>
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> User</a></li>
        <li class="active><a href="#">Index</a></li>
        
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">User List</h3>*@
                    <button type="button" class="btn btn-primary pull-left">
                        <i class="fa fa-plus"></i> Add User
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbl_user" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Features</th>

                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>

                                    <td>@u.USERNAME</td>
                                    <td>
                                        <button type="button" class="btn btn-danger pull-right">
                                            <i class="fa fa-remove"></i> Delete
                                        </button>
                                        <button type="button" data-user-id="@u.USER_ID"  
                                                class="btnEdit btn btn-success pull-right" style="margin-right: 5px;">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>
                                        
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>User Name</th>
                                <th>Features</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<environment names="Development">


</environment>
<environment names="Staging,Production">


</environment>
@section Scripts {

    <script type="text/javascript">
    $(document).ready(function () {

        $('.btnEdit').click(function (e)
        {
            var userId = $(e.target).data('userId');
            location.href = '@Url.Content("~/User/Edit/")' + userId;
        });

    });
    </script>

    <!-- page script -->
    <script>
        $(function () {
            //$('#example1').DataTable()
            $('#tbl_user').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>

     <!-- Menu Active -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.menu_user').closest('li').addClass('active');
            //$('a.menu_multilevel').closest('li').addClass('active');
            //$('a.menu_level1').closest('li').addClass('active');

        });
    </script>







}
